doctype html
html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='../styles/styles.css')
    link(rel='stylesheet' href='../styles/header.css')


    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
    
  header
    a.name Organizational Apes
    ul.navigation
      li(onclick="scrollto('banner-container');") Home

  .banner-container
    .login-container
      .main-form 
        h1 Welcome Back Koshoujin-sama
        span Ready to interact with other members of the organization?
        .credential-boxes 
          form
            h5 Username or E-mail Address
            input(type='text')
            h5 Password 
            input(type='password')
            br
            button.login-button Login



    //- .content
    //-   h2 Apesbook
    //-   p 
    //-     | is the voice actor that played D2 in the Live Action Droplet Constellation. 
    //-     | Names, personalities, business, events, and events are all made up. Any likeness
    //-     | to real people, living or dead, or real events is purely coincidental.
     
    //- img.image(src='../img/Banner-Logo.png')

  //- h2.c#subheader Display Participation Chronologically
    
  footer

script(src='js/index.js' type='text/javascript').