* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
    z-index: 10;
    position: sticky;
    top: 0;
    background: #1b737b;
}

header .name {
    position: relative;
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

header .navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
}

header .navigation li {
    list-style: none;
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
}

header .navigation li:hover, header .name:hover{
    color: #86b4bc;
}