* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content:space-between;
    text-align: left;
    align-items: center;
    padding: 10px 100px;
    z-index: 10;
    position: sticky;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
}

header .name {
    position: relative;
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

header .navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
}

header .navigation li {
    list-style: none;
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
}

header .navigation li:hover, header .name:hover{
    display: inline-block;
    color: linear-gradient(315deg, #485461 0%, #28313b 74%);
    font-weight: bold;
    cursor: pointer;
    -moz-text-shadow: 0 0 5px #fff;
    -webkit-text-shadow: 0 0 5px #fff;
    text-shadow: 0px 0px 5px #fff;
}