body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-size: 400% 400%;
    background-color: rgba(0, 7, 26, 0.89);
}

// Main Container of the body - login
.main-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.main-container#blur.active{
    filter: blur(300px);
}

// Login form
.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: rgba(51, 58, 97, 0.664);
    border-radius: 10px;
}

.login-form h1 {
    color: white;
    text-align: center;
    padding: 20px 0 20px 0;
    border-bottom: 2px solid rgba(0, 7, 26, 0.89);
}

.login-form form {
    padding: 0 20px;
    box-sizing: border-box;
    margin: 30px 0;
}

.login-form #loginbutton {
    width: 100%;
    height: 50px;
    border: none;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    outline: none;
    background: rgba(0, 7, 26, 0.295);
    transition: 0.5s;
}

.login-form #loginbutton:hover {
    background: rgba(146, 146, 146, 0.295);
    color: rgb(238, 238, 238);
}

// Login Button
#login {
    width: 100%;
    height: 50px;
    border: none;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    outline: none;
    background: rgba(0, 115, 150, 0.6);
    transition: 0.5s;
}

#login:hover {
    background: rgba(143, 229, 255, 0.6);
    color: rgb(0, 74, 134);
}

// Fields of the login form
form .field {
    color: white;
    position: relative;
    border-bottom: 2px solid white;
    margin: 30px 0;
}

.field input {
    color: white;
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 18px;
    border: none;
    background: none;
    outline: none;
    color: none;
}

.field label {
    color: white;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 18px;
    pointer-events: none;
    transition: 0.5s;
}

.field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgba(0, 7, 26, 0.89);
}

.field input:focus~label,
.field input:valid~label {
    top: -5px;
    color: rgba(102, 110, 131, 0.89);
}

// Registration Link
.register-link {
    margin: 30px 0;
    text-align: center;
    font-size: 18px;
    color: white;
}

.register-link a {
    color: rgba(105, 105, 105, 0.89);
    text-decoration: none;
}

.register-link a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

// Login status messages
#loginmessage {
    font-weight: bold;
    color: rgb(189, 0, 0);
    font-size: 16px;
    padding-top: 20px;
}






// Registration Form
#popup {
    visibility: hidden;
    transition: 0.5s;
    opacity: 0;
}
#popup.active {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.reg-form {
    margin-top: 0;
}

form .reg-field {
    position: relative;
    border-bottom: 2px solid rgba(0, 7, 26, 0.89);
    margin: 30px 0;
    display: flex;
    width: 40%;
    float: left;
    margin-left: 6%;
    margin-top: 2px;
}

.registration-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: rgba(51, 58, 97, 0.664);
    border-radius: 10px;
}

.registration-form h1 {
    color: white;
    text-align: center;
    padding: 20px 0 20px 0;
    border-bottom: 2px solid rgba(0, 7, 26, 0.89);
}

.registration-form form {
    padding: 0 20px;
    box-sizing: border-box;
    margin: 30px 0;
}

.registration-form #register {
    width: 100%;
    height: 50px;
    border: none;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    outline: none;
    background: rgba(0, 7, 26, 0.295);
    transition: 0.5s;
}

.registration-form #register:hover {
    background: rgba(146, 146, 146, 0.295);
    color: rgb(238, 238, 238);
}

#register {
    width: 100%;
    height: 50px;
    border: none;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    outline: none;
    background: rgba(0, 115, 150, 0.6);
    transition: 0.5s;
}

#register:hover {
    background: rgba(143, 229, 255, 0.6);
    color: rgb(0, 74, 134);
}




// Fields of the login form
form .field {
    color: white;
    position: relative;
    border-bottom: 2px solid white;
    margin: 30px 0;
}

.reg-form {
    margin-top: 0;
}

form .reg-field {
    position: relative;
    border-bottom: 2px solid rgba(0, 7, 26, 0.89);
    margin: 30px 0;
    display: flex;
    width: 40%;
    float: left;
    margin-left: 6%;
    margin-top: 2px;
}

.back:hover {
    background: rgba(143, 229, 255, 0.6);
    color: rgb(0, 74, 134);
}

.back {
    width: 100%;
    height: 50px;
    border: none;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    outline: none;
    background: rgba(0, 115, 150, 0.6);
    transition: 1s;
    text-align: center;
    font-size: smaller;
}

.field input {
    color: white;
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 18px;
    border: none;
    background: none;
    outline: none;
    color: none;
}

.field label {
    color: white;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 18px;
    pointer-events: none;
    transition: 0.5s;
}

.field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgba(0, 7, 26, 0.89);
}

.field input:focus~label,
.field input:valid~label {
    top: -5px;
    color: rgba(102, 110, 131, 0.89);
}

// Registration Link

.register-link {
    margin: 30px 0;
    text-align: center;
    font-size: 18px;
    color: white;
}

.register-link a {
    color: rgba(105, 105, 105, 0.89);
    text-decoration: none;
}

.register-link a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

// Login status messages
#loginmessage {
    font-weight: bold;
    color: rgb(189, 0, 0);
    font-size: 16px;
    padding-top: 20px;
}

.login-link {
    margin: 30px 15px;
    text-align: left;
    font-size: 18px;
    color: white;
}

.login-link a {
    color: rgba(105, 105, 105, 0.89);
    text-decoration: none;
}

.login-link a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}









// For interactivity

@media (max-width: 700px) {
    header {
        padding: 10px 20px;
        flex-direction: column;
    }

    .main-container {
        padding: 150px 20px 50px;
        flex-direction: column-reverse;
    }
}




// #subheader {
//     padding: 30px;
//     border-radius: 20px;
//     margin: 50px;
//     color: #ffffff;
//     background-color: #7985f0;
//     position: relative;
//     font-size: 2.5em;
//     text-align: center;
//     transition: 0.3s ease-in-out;
// }

// /*Posts Container hover-effect*/
// #subheader:hover{
//     position: relative;
//     border: none;
//     box-shadow: 0px 0px 30px rgb(248, 248, 248);
//     transform: scale(1.02);
//     cursor: pointer;
//     transition: 0.3s ease-in-out;
// }

//   #posts-container {
//     max-width: 1300px;
//     margin: 50px auto;
//     padding: 0 20px;
//   }

//   #posts-container .post {
//     display: flex;
//   }

//   #posts-container .po-2 {
//     justify-content: flex-start;
//   }

//   #posts-container .po-2 {
//     justify-content: flex-end;
//   }

//   #posts-container .post section {
//     background: #ff7878;
//     border-radius: 5px;
//     width: calc(50% - 40px);
//     padding: 20px;
//     position: relative;
//     transition: 0.4s ease-in-out;
//   }
//   /*Posts Container hover-effect*/
//   #posts-container .post section:hover{
//     position: relative;
//     background-color: #7985f0;
//     border: none;
//     color: rgb(209, 209, 209);
//     display: inline-block;
//     cursor: pointer;
//     transition: 0.4s ease-in-out;
//   }

//   #posts-container .post section::before {
//     position: absolute;
//     content: "";
//     height: 15px;
//     width: 15px;
//     background:rgb(128, 128, 128);
//     top: 28px;
//     transform: rotate(45deg);
//   }

//   .po-1 section::before {
//     right: -7px;
//   }

//   .po-2 section::before {
//     left: -7px;
//   }

//   .post section .details-section{
//     color: lightblue;
//     display: flex;
//     justify-content: space-between;
//   }

//   .post section p {
//     color: rgb(236, 233, 233);
//     text-align: left;
//     line-height: 30px;
//     margin: 10px 0 17px 0;
//   }

.user-profile .card {
    border-radius: 10px;
}

.user-profile .card .card-header .profile_img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px auto;
    border: 10px solid rgb(0, 115, 209);
    border-radius: 50%;
}

.user-profile .card h3 {
    font-size: 20px;
    font-weight: 700;
}

.user-profile .card p {
    font-size: 16px;
    color: #000;
}

.user-profile .table th,
.user-profile .table td {
    font-size: 14px;
    padding: 5px 10px;
    color: #000;
}








.container {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin-top: 2%;
    box-sizing: border-box;
    column-gap: 20px;
    padding-top: 4%;
}


.container .sidebar-left {
    position: sticky;
    -webkit-position: sticky;
    background: rgba(51, 58, 97, 0.664);
    display: inline-block;
    width: 300px;
    height: 520px;
    border-radius: 20px;
}

.container .sidebar-left center img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-top: 30px;
    border: 3px solid rgba(0, 7, 26, 0.89);
}

.container .sidebar-left center h3 {
    color: white;
}

.container .sidebar-left a {
    display: block;
    line-height: 50px;
    transition: 1s;
    padding-left: 30px;
    text-decoration: none;
}

.container .sidebar-left a:hover {
    background: rgba(101, 106, 139, 0.959);
    color: white;
    border-radius: 20px;
    padding-left: 50px;
}

.container .sidebar-left span {
    font-size: 16px;
    margin-left: 15px;
}

.container .middle-content {
    position: relative;
    
    width: 800px;
    min-width: 500px;
    border-radius: 20px;
}

.container .sidebar-right {
    background: rgba(51, 58, 97, 0.664);
    position: sticky;
    -webkit-position: sticky;
    
    display: inline-block;
    width: 300px;
    height: 520px;
    border-radius: 20px;
}






@media (max-width:995px) {
    .container .sidebar-left {
        width: 95px;
        min-width: 95px;
        padding: 10px;
        height: 330px;
    }

    .container .sidebar-left center {
        display: none;
    }

    .container .sidebar-left a span {
        display: none;
    }

    .container .sidebar-left a:hover {
        padding-left: 30px;
    }

    .container .sidebar-right {
        display: none;
    }
}

//panel-post-container
.panel-post {
    
    background-color: #262c47;
    border: 1px solid #262c47;
    position: relative;
    border-radius: 20px;
    font-size: 14px;
}

.panel-post>.dropdown {
    position: absolute;
    top: 5px;
    right: 15px;
}

.panel-post>.dropdown>span>span {
    font-size: 10px;
}

.panel-post>.dropdown>.dropdown-menu {
    left: initial;
    right: 0px;
    border-radius: 2px;
}

.panel-post>.panel-post-tags {
    border-radius: 20px;
    position: absolute;
    top: 35px;
    right: -3px;
}

.panel-post>.panel-post-tags>ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.panel-post>.panel-post-tags>ul:hover {
    border-radius: 20px;
}

.panel-post>.panel-post-tags>ul>li {
    border-radius: 20px;
    display: block;
    right: 0px;
    width: 0px;
    padding: 5px 0px 5px 0px;
    background-color: rgba(59, 66, 105, 0.664);
    font-size: 12px;
    overflow: hidden;
}

.panel-post>.panel-post-tags>ul>li::after {
    border-radius: 20px;
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    border-right: 3px solid rgba(51, 58, 97, 0.664);
}

.panel-post>.panel-post-tags>ul:hover>li,
.panel-post>.panel-post-tags>ul>li:first-child {
    padding: 5px 15px 5px 10px;
    width: auto;
    cursor: pointer;
    margin-left: auto;
}

.panel-post>.panel-post-tags>ul:hover>li {
    background-color: rgb(255, 255, 255);
}

.panel-post>.panel-post-tags>ul>li:hover {
    background-color: rgba(51, 58, 97, 1);
    color: rgb(0, 0, 0);
}

.panel-post>.panel-heading,
.panel-post>.panel-footer {
    border-radius: 20px;
    background-color: #262c47;
    border: 1px solid #262c47;
}

.panel-post>.panel-heading {
    margin-top: 15px;
    padding-bottom: 5px;
}

.panel-post>.panel-heading>img {
    margin-top: -5px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.panel-post>.panel-heading>h3 {
    margin: 0px;
    font-size: 14px; 
    color: rgb(72, 111, 218);
    font-weight: 700;
}

.panel-post>.panel-heading>h5 {
    color: rgb(153, 153, 153);
    font-size: 12px;
    font-weight: 400;
}

.panel-post>.panel-body {
    margin-top: 1%;
    color: rgb(255, 255, 255);
}

.panel-post>.panel-body>.panel-post-image {
    display: block;
    text-align: center;
    background-color: rgba(51, 58, 97, 0.664);
}

.panel-post>.panel-body>.panel-post-image>img {
    max-width: 10%;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-top: 1px;
}

.panel-post>.panel-footer {
    font-size: 14px;
    font-weight: 700;
    min-height: 54px;
}


.panel-post>.panel-footer>.btn {
    float: left;
    margin-right: 8px;
}

.panel-post .btn {
    border-radius: 20px;
}

.panel-post .btn-default {
    color: #ffffff;
    background-color: #313a5c;
    border: 1px solid #313a5c;
    box-shadow: #313a5c;
}

.panel-post .btn-default:hover,
.panel-post .btn-default:focus,
.panel-post .btn-default:active {
    background-color: #667bc4;
    border: 1px solid #313a5c;
}