body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-size: 400% 400%;
  background-color: rgba(0, 7, 26, 0.89);
}

.main-container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container#blur.active {
  -webkit-filter: blur(300px);
          filter: blur(300px);
}

.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 400px;
  background: rgba(51, 58, 97, 0.664);
  border-radius: 10px;
}

.login-form h1 {
  color: white;
  text-align: center;
  padding: 20px 0 20px 0;
  border-bottom: 2px solid rgba(0, 7, 26, 0.89);
}

.login-form form {
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 30px 0;
}

.login-form #loginbutton {
  width: 100%;
  height: 50px;
  border: none;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  outline: none;
  background: rgba(0, 7, 26, 0.295);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.login-form #loginbutton:hover {
  background: rgba(146, 146, 146, 0.295);
  color: #eeeeee;
}

#login {
  width: 100%;
  height: 50px;
  border: none;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  outline: none;
  background: rgba(0, 115, 150, 0.6);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#login:hover {
  background: rgba(143, 229, 255, 0.6);
  color: #004a86;
}

form .field {
  color: white;
  position: relative;
  border-bottom: 2px solid white;
  margin: 30px 0;
}

.field input {
  color: white;
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 18px;
  border: none;
  background: none;
  outline: none;
  color: none;
}

.field label {
  color: white;
  position: absolute;
  top: 50%;
  left: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 18px;
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.field span::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 2px;
  background: rgba(0, 7, 26, 0.89);
}

.field input:focus ~ label,
.field input:valid ~ label {
  top: -5px;
  color: rgba(102, 110, 131, 0.89);
}

.register-link {
  margin: 30px 0;
  text-align: center;
  font-size: 18px;
  color: white;
}

.register-link a {
  color: rgba(105, 105, 105, 0.89);
  text-decoration: none;
}

.register-link a:hover {
  color: white;
  text-decoration: underline;
}

#loginmessage {
  font-weight: bold;
  color: #bd0000;
  font-size: 16px;
  padding-top: 20px;
}

#popup {
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}

#popup.active {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.reg-form {
  margin-top: 0;
}

form .reg-field {
  position: relative;
  border-bottom: 2px solid rgba(0, 7, 26, 0.89);
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  float: left;
  margin-left: 6%;
  margin-top: 2px;
}

.registration-form {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 400px;
  background: rgba(51, 58, 97, 0.664);
  border-radius: 10px;
}

.registration-form h1 {
  color: white;
  text-align: center;
  padding: 20px 0 20px 0;
  border-bottom: 2px solid rgba(0, 7, 26, 0.89);
}

.registration-form form {
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 30px 0;
}

.registration-form #register {
  width: 100%;
  height: 50px;
  border: none;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  outline: none;
  background: rgba(0, 7, 26, 0.295);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.registration-form #register:hover {
  background: rgba(146, 146, 146, 0.295);
  color: #eeeeee;
}

#register {
  width: 100%;
  height: 50px;
  border: none;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  outline: none;
  background: rgba(0, 115, 150, 0.6);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#register:hover {
  background: rgba(143, 229, 255, 0.6);
  color: #004a86;
}

form .field {
  color: white;
  position: relative;
  border-bottom: 2px solid white;
  margin: 30px 0;
}

.reg-form {
  margin-top: 0;
}

form .reg-field {
  position: relative;
  border-bottom: 2px solid rgba(0, 7, 26, 0.89);
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  float: left;
  margin-left: 6%;
  margin-top: 2px;
}

.back:hover {
  background: rgba(143, 229, 255, 0.6);
  color: #004a86;
}

.back {
  width: 100%;
  height: 50px;
  border: none;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  outline: none;
  background: rgba(0, 115, 150, 0.6);
  -webkit-transition: 1s;
  transition: 1s;
  text-align: center;
  font-size: smaller;
}

.field input {
  color: white;
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 18px;
  border: none;
  background: none;
  outline: none;
  color: none;
}

.field label {
  color: white;
  position: absolute;
  top: 50%;
  left: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 18px;
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.field span::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 2px;
  background: rgba(0, 7, 26, 0.89);
}

.field input:focus ~ label,
.field input:valid ~ label {
  top: -5px;
  color: rgba(102, 110, 131, 0.89);
}

.register-link {
  margin: 30px 0;
  text-align: center;
  font-size: 18px;
  color: white;
}

.register-link a {
  color: rgba(105, 105, 105, 0.89);
  text-decoration: none;
}

.register-link a:hover {
  color: white;
  text-decoration: underline;
}

#loginmessage {
  font-weight: bold;
  color: #bd0000;
  font-size: 16px;
  padding-top: 20px;
}

.login-link {
  margin: 30px 15px;
  text-align: left;
  font-size: 18px;
  color: white;
}

.login-link a {
  color: rgba(105, 105, 105, 0.89);
  text-decoration: none;
}

.login-link a:hover {
  color: white;
  text-decoration: underline;
}

@media (max-width: 700px) {
  header {
    padding: 10px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-container {
    padding: 150px 20px 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.user-profile .card {
  border-radius: 10px;
}

.user-profile .card .card-header .profile_img {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 10px auto;
  border: 10px solid #0073d1;
  border-radius: 50%;
}

.user-profile .card h3 {
  font-size: 20px;
  font-weight: 700;
}

.user-profile .card p {
  font-size: 16px;
  color: #000;
}

.user-profile .table th,
.user-profile .table td {
  font-size: 14px;
  padding: 5px 10px;
  color: #000;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px;
  margin-top: 2%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  padding-top: 4%;
}

.container .sidebar-left {
  position: sticky;
  -webkit-position: -webkit-sticky;
  background: rgba(51, 58, 97, 0.664);
  display: inline-block;
  width: 300px;
  height: 520px;
  border-radius: 20px;
}

.container .sidebar-left center img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin-top: 30px;
  border: 3px solid rgba(0, 7, 26, 0.89);
}

.container .sidebar-left center h3 {
  color: white;
}

.container .sidebar-left a {
  display: block;
  line-height: 50px;
  -webkit-transition: 1s;
  transition: 1s;
  padding-left: 30px;
  text-decoration: none;
}

.container .sidebar-left a:hover {
  background: rgba(101, 106, 139, 0.959);
  color: white;
  border-radius: 20px;
  padding-left: 50px;
}

.container .sidebar-left span {
  font-size: 16px;
  margin-left: 15px;
}

.container .middle-content {
  position: relative;
  width: 800px;
  min-width: 500px;
  border-radius: 20px;
}

.container .sidebar-right {
  background: rgba(51, 58, 97, 0.664);
  position: sticky;
  -webkit-position: -webkit-sticky;
  display: inline-block;
  width: 300px;
  height: 520px;
  border-radius: 20px;
}

@media (max-width: 995px) {
  .container .sidebar-left {
    width: 95px;
    min-width: 95px;
    padding: 10px;
    height: 330px;
  }
  .container .sidebar-left center {
    display: none;
  }
  .container .sidebar-left a span {
    display: none;
  }
  .container .sidebar-left a:hover {
    padding-left: 30px;
  }
  .container .sidebar-right {
    display: none;
  }
}

.panel-post {
  background-color: #262c47;
  border: 1px solid #262c47;
  position: relative;
  border-radius: 20px;
  font-size: 14px;
}

.panel-post > .dropdown {
  position: absolute;
  top: 5px;
  right: 15px;
}

.panel-post > .dropdown > span > span {
  font-size: 10px;
}

.panel-post > .dropdown > .dropdown-menu {
  left: initial;
  right: 0px;
  border-radius: 2px;
}

.panel-post > .panel-post-tags {
  border-radius: 20px;
  position: absolute;
  top: 35px;
  right: -3px;
}

.panel-post > .panel-post-tags > ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.panel-post > .panel-post-tags > ul:hover {
  border-radius: 20px;
}

.panel-post > .panel-post-tags > ul > li {
  border-radius: 20px;
  display: block;
  right: 0px;
  width: 0px;
  padding: 5px 0px 5px 0px;
  background-color: rgba(59, 66, 105, 0.664);
  font-size: 12px;
  overflow: hidden;
}

.panel-post > .panel-post-tags > ul > li::after {
  border-radius: 20px;
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  border-right: 3px solid rgba(51, 58, 97, 0.664);
}

.panel-post > .panel-post-tags > ul:hover > li,
.panel-post > .panel-post-tags > ul > li:first-child {
  padding: 5px 15px 5px 10px;
  width: auto;
  cursor: pointer;
  margin-left: auto;
}

.panel-post > .panel-post-tags > ul:hover > li {
  background-color: white;
}

.panel-post > .panel-post-tags > ul > li:hover {
  background-color: #333a61;
  color: black;
}

.panel-post > .panel-heading,
.panel-post > .panel-footer {
  border-radius: 20px;
  background-color: #262c47;
  border: 1px solid #262c47;
}

.panel-post > .panel-heading {
  margin-top: 15px;
  padding-bottom: 5px;
}

.panel-post > .panel-heading > img {
  margin-top: -5px;
  margin-right: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.panel-post > .panel-heading > h3 {
  margin: 0px;
  font-size: 14px;
  color: #486fda;
  font-weight: 700;
}

.panel-post > .panel-heading > h5 {
  color: #999999;
  font-size: 12px;
  font-weight: 400;
}

.panel-post > .panel-body {
  margin-top: 1%;
  color: white;
}

.panel-post > .panel-body > .panel-post-image {
  display: block;
  text-align: center;
  background-color: rgba(51, 58, 97, 0.664);
}

.panel-post > .panel-body > .panel-post-image > img {
  max-width: 10%;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin-top: 1px;
}

.panel-post > .panel-footer {
  font-size: 14px;
  font-weight: 700;
  min-height: 54px;
}

.panel-post > .panel-footer > .btn {
  float: left;
  margin-right: 8px;
}

.panel-post .btn {
  border-radius: 20px;
}

.panel-post .btn-default {
  color: #ffffff;
  background-color: #313a5c;
  border: 1px solid #313a5c;
  -webkit-box-shadow: #313a5c;
          box-shadow: #313a5c;
}

.panel-post .btn-default:hover,
.panel-post .btn-default:focus,
.panel-post .btn-default:active {
  background-color: #667bc4;
  border: 1px solid #313a5c;
}
/*# sourceMappingURL=styles.css.map */